[Bb]in/
[Oo]bj/

# Visual Studio 2015 project files
*.sln
*.vcxproj
*.vcxproj.filters
.vscode/

# Visual Studio 2015 cache/options directory
.vs/

Server Website/.buildpath
Server Website/.project
Server Website/.settings/org.eclipse.wst.common.project.facet.core.xml
Server Website/.settings/org.eclipse.php.core.prefs

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
Pi with Pi/src/piActuator.c
Pi with Pi/src/piSensor.c
Pi with Pi/build.sh
Pi with Pi/ipInfo.txt
